pip
numpy
pandas
matplotlib
scikit-learn
networkx
boto3
nbconvert
psycopg2-binary
scikit-learn
sagemaker
xgboost
jupyterlab
s3fs
pydot
ConfigParser
gitpython
dnsdb
shodan
tldextract
scapy
jupyter_http_over_ws
ipywidgets
jupyterlab_sql